@{
    ViewBag.Title = "Nos Articles";
}
@model  IEnumerable<proj.Models.Article>

<div class="row">

    <div class="col-md-4">

        <table border="1">
            <tr>
                <td>Designation</td>
                <td>prix</td>
                <td>stock</td>
                <td>Details</td>
                <td>Ajouter Au panier</td>
            </tr>

            @foreach (var x in Model)
            {
            <tr>
                <td>@x.designation</td>
                <td>@x.prixU</td>
                <td><a href="Articles/Details?id=@x.numArticle">Details</a></td>
                @*/LigneCommandes/Create*@
                <td><a href="#">Add to cart</a></td>
            </tr>
            }
        </table>
    </div>
</div>