@{
    ViewBag.Title = "Nos Articles";
}
@model  IEnumerable<proj.Models.Article>

@Html.ActionLink("Create","Create")
<div class="row">

    <div class="col-md-4">

        <table border="1">
            <tr>
                <td>Designation</td>
                <td>prix</td>
                <td>stock</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            @foreach (var x in Model)
            {
            <tr>
                <td>@x.designation</td>
                <td>@x.prixU</td>
                <td>@x.stock</td>
                <td><a href="Articles/Details?id=@x.numArticle">Details</a></td>
                <td><a href="Articles/Delete?id=@x.numArticle">Delete</a></td>
                <td><a href="Articles/Edit?id=@x.numArticle">Edit</a></td>
                @*/LigneCommandes/Create*@
                <td><a href="#">Add to cart</a></td>
            </tr>
            }
        </table>
    </div>
</div>